/**********************************************
     Front-end API class configuration file
 **********************************************/

export default {
    api: {
        url: '<change_api_url>'
    }
};
