@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --animation-time: 1s;
    --animation-ease: cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes show-up {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes show-down {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes show-left {
    0% { opacity: 0; transform: translateX(20px); }
    100% { opacity: 1; transform: translateX(0); }
}
@keyframes show-right {
    0% { opacity: 0; transform: translateX(-20px); }
    100% { opacity: 1; transform: translateX(0); }
}
@keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes hide-up {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-20px); }
}
@keyframes hide-down {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(20px); }
}
@keyframes hide-left {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(-20px); }
}
@keyframes hide-right {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(20px); }
}

.show-up {
    opacity: 0;
    animation: show-up var(--animation-time) var(--animation-ease) forwards;
}
.show-down {
    opacity: 0;
    animation: show-down var(--animation-time) var(--animation-ease) forwards;
}
.show-left {
    opacity: 0;
    animation: show-left var(--animation-time) var(--animation-ease) forwards;
}
.show-right {
    opacity: 0;
    animation: show-right var(--animation-time) var(--animation-ease) forwards;
}
.show {
    opacity: 0;
    animation: show var(--animation-time) var(--animation-ease) forwards;
}

@media (min-width: 768px) {
    .md\:show-up {
        opacity: 0;
        animation: show-up var(--animation-time) var(--animation-ease) forwards;
    }
}

.hide-up {
    opacity: 0;
    animation: hide-up var(--animation-time) var(--animation-ease) forwards;
}
.hide-down {
    opacity: 0;
    animation: hide-down var(--animation-time) var(--animation-ease) forwards;
}
.hide-left {
    opacity: 0;
    animation: hide-left var(--animation-time) var(--animation-ease) forwards;
}
.hide-right {
    opacity: 0;
    animation: hide-right var(--animation-time) var(--animation-ease) forwards;
}

.shadow-3D {
    text-shadow: 0px 2px 0px #0d9488, 0px 4px 0px #0d9488, 0px 6px 0px #0d9488;
}